# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0
#
# This file is the application Kconfig entry point. All application Kconfig
# options can be defined here or included via other application Kconfig files.
# You can browse these options using the west targets menuconfig (terminal) or
# guiconfig (GUI).

menu "Zephyr"
source "Kconfig.zephyr"

config CARRIER
	int "Carrier to use"
	default 0
	help
	   The availability of the channels and the exact regulation to use them varies in different countries.
	   See ETSI TS 103 636-2 5.4.2 for the calculation.
	   Band index 1 is set when the carrier is within the range of 525 to 551.
	   This is the only range allowed for band index 1 as other carriers will interfere with other radio devices, including LTE devices.

config NETWORK_ID
	int "Network ID"
	range 1 4294967295
	default 91

config MCS
	int "MCS"
	default 1
	help
	   The MCS impacts how much data can fit into each subslot.

config TX_POWER
	int "TX power"
	range 0 13
	default 13
	help
	   Transmission power, max 19 dBm due to hardware limitations.
	   See table 6.2.1-3 of ETSI TS 103 636-4 v1.5.1.

config DECT_PROTO_MAX_REASSEM_CONTEXTS 
	int "Number of reassembly contexts."
	range 1 64
	default 4
	help
		Defines the maximum number of reassmbly contexts supported in the data layer.
		This directly impacts the number of concurrent messages the device can receive.

config DECT_PROTO_MAX_FRAGMENTS_PER_CONTEXT
	int "Max context fragments."
	range 4 64
	default 32
	help
		Maximum fragments that can be reassembled for sequence ID.

config DECT_PROTO_MAX_FRAGMENT_SIZE_BYTES
	int "Max size of fragment."
	default 16
	help
		Maximum size of a protocol layer fragment

endmenu

module = APP
module-str = APP
